.hero {
  background: url(./public/about/desktop/image-hero-whitecup.jpg) no-repeat
    center center;
  background-size: cover;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 86px;
  margin: auto;
  max-width: 1280px;
  height: 450px;
}

.hero__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 72px;
  max-width: 188px;
  font-family: "Fraunces", sans-serif;
  color: #fefcf7;
}
.hero__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 445px;
  margin-top: 24px;
  font-family: "Barlow", sans-serif;
  color: #fefcf7;
  align-items: center;
}

.mission {
  display: flex;
  gap: 125px;
  align-items: center;
  margin: auto;
  margin-top: 168px;
  max-width: 1110px;
}

.mission__title {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;

  color: #333d4b;
}

.mission__description {
  font-family: "Barlow", sans-serif;
  margin-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.mission__container {
  max-width: 540px;

  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.quality {
  background: #2c343e;
  border-radius: 10px;
  display: flex;
  margin: auto;
  height: 474px;
  padding-top: 100px;

  margin-top: 244px;
  max-width: 1280px;
}

.quality__container {
  max-width: 540px;
  margin: 0px 90px;
}

.quality__title {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;

  color: #fefcf7;
}
.quality__description {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 32px;

  color: #fefcf7;

  mix-blend-mode: normal;
  opacity: 0.8;
}
.quality__image {
  margin-top: -160px;
  width: 445px;
  height: 474px;
  background: #0e8784;
  border-radius: 8px;
}
