.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 216px;
  padding: 50px 80px;
  background: #2c343e;

  margin: auto;
  margin-top: 200px;
}

.footer__navigate {
  display: flex;
  align-items: center;
  gap: 33px;
}
.footer__navigate a {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  text-decoration: none;
  color: #83888f;
}
.footer__social__midia {
  display: flex;
  gap: 24px;
}
