.hero {
  background: url("./public/plan/desktop/image-hero-blackcup.jpg") no-repeat
    center center;
  background-size: cover;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 86px;
  margin: auto;
  max-width: 1280px;
  height: 450px;
}

.hero__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  max-width: 530px;
  font-family: "Fraunces", sans-serif;
  color: #fefcf7;
}

.hero__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 445px;
  margin-top: 32px;
  font-family: "Barlow", sans-serif;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
