.hero {
  background: url("./public/plan/desktop/image-hero-blackcup.jpg") no-repeat
    center center;
  background-size: cover;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 86px;
  margin: auto;
  max-width: 1280px;
  height: 450px;
}

.hero__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  max-width: 530px;
  font-family: "Fraunces", sans-serif;
  color: #fefcf7;
}

.hero__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 445px;
  margin-top: 32px;
  font-family: "Barlow", sans-serif;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.plan {
  max-width: 1280px;
  height: 653px;
  background: #2c343e;
  margin: auto;
  padding-left: 85px;
  padding-top: 113px;
  margin-top: 165px;
}

.plan__image__circle {
  display: inline-block;

  border: 2px solid #0e8784;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  z-index: 2;
}

.plan__list {
  display: flex;
  align-items: center;
  gap: 95px;
  margin-top: 67px;
  list-style: none;
}

.plan__list__create {
  max-width: 285px;
}

.plan__list__create strong {
  font-family: "Fraunces", sans-serif;

  font-weight: 900;
  font-size: 72px;
  line-height: 72px;

  color: #fdd6ba;
}
.plan__list__create h2 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;

  margin-top: 38px;

  color: #fefcf7;
}
.plan__list__create p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 38px;

  color: #fefcf7;
}
.plan__image {
  display: flex;
  justify-content: space-between;
  max-width: 795px;
  position: relative;
}
.plan__image__line {
  height: 2px;
  width: 100%;
  background-color: #fdd6ba;
  position: absolute;
  top: 15.5px;
}

.preferences {
  display: flex;
  gap: 125px;
  max-width: 1280px;
  height: 653px;
  margin: auto;
  padding-left: 85px;
  padding-top: 113px;
  margin-top: 168px;
}

.preferences__navigator__list {
  list-style: none;
  width: 255px;
}

.preferences__navigator__list li {
  border-bottom: 2px solid #83888f;
  padding-bottom: 24px;
  margin-bottom: 24px;
}
.preferences__navigator__list strong {
  margin-right: 24px;
}

.preferences__navigator__list h2 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}
